{% extends 'base.html' %}
{% load static %}

{% block bootstrap %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
{% endblock %}

{% block title %}Admin{% endblock %}

{% block cutoff %}onload="cutoff()"{% endblock %}

{% block content%}

{% if user.is_authenticated %}
<header>
    <div class="menu-bar">
        <nav>
            <ul style="flex-direction: row-reverse">
                <li><a class="li-hover logout" href="/logout">Logout</a></li>
                <li><a class="li-hover logout" href="/django-admin">Settings</a></li>
            </ul>
        </nav>
    </div>
</header>
<main onload="cutoff()">
    <div class="container">
        <div class="row" style="border-bottom: white solid thin;">
            <div class="col padding" style="border-right: white solid thin;">
                <div>
                    <p class="text-center admin-p">Current number of requests:</p>
                    <p class="current-req admin-p" id="clickCount">{{count.count}}</p>
                </div>
                <!--sends the /delete form which deletes all records and reloads the page-->
                <div class="">
                    <form action="{% url 'resetRequestCount' %}" method="GET" id="/delete" class="reset">
                        {% csrf_token %}
                        <div class="btn btn-one" onclick="reset()">
                            <p class="btn-text admin-p">Reset Requests</p>
                        </div>
                    </form>
                </div>
            </div>
            <!--sends the /delete form which deletes all records and reloads the page-->
            <div class="col padding">
                <div class="">
                    <div>
                        <p class="text-center admin-p">Seconds until next reset:</p>
                        <p class="current-req admin-p" id="counter">{{timeToReset}}</p>
                    </div>
                    <form action="{% url 'resetTimer' %}" method="GET" id="resetTimer" class="reset">
                        {% csrf_token %}
                        <div class="btn btn-one" onclick="resetTimer()">
                            <p class="btn-text admin-p">Reset Timer</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col padding">
                <!--CHANGE CUTOFF THRESHOLD HERE!! change the value here to allow for more or less clicks before being alerted-->
                <div class="">
                    <form action="{% url 'changeThreshold' %}" method="GET" class="text-center" id="thresh">
                        {% csrf_token %}
                        <p class="text-center admin-p" for="cutoff">Cutoff threshold:</p>
                        <p class="current-req admin-p" id="limit">{{threshold.threshold}}</p>
                        <input id="newLimit" class="thresh-input" name='limit' type="number" min="0"
                            placeholder="Change threshold here"><br>
                        <div class="btn btn-one" onclick="thresh()">
                            <p class="btn-text">Submit</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col padding" style="border-left: white solid thin;">
                <div class="">
                    <form action="{% url 'changeResetSetting' %}" method="GET" class="text-center" id="resetSetting">
                        {% csrf_token %}
                        <p class="text-center admin-p" for="cutoff">Seconds to reset setting:</p>
                        <p class="current-req admin-p" id="clickCount">{{resetSetting}}</p>
                        <input id="setting" class="thresh-input" name='setting' type="number" min="0"
                            placeholder="Change reset setting here"><br>
                        <div class="btn btn-one" onclick="resetSetting()">
                            <p class="btn-text admin-p">Submit</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</main>
<!--Reloads this page every 10 seconds (can be adjusted here for more or less time) in order to keep an accurate count-->
<script>
    setTimeout(function () {
    location.reload();
    }, 10000);

    // alert sound used asynchronous function so that the sound will play before other scripts take over
    async function playAlert() {
        var audio = new Audio('{% static 'media/sound.mp3' %}');
        audio.play();
        await new Promise((resolve, reject) => setTimeout(resolve, 3000));
        alert({{count.count}} + ' or more people have requested that you slow down');
    }

    var seconds = {{timeToReset}}

    var counter = setInterval(timer, 1000);

    function timer() {
        seconds = seconds - 1;
        if (seconds <= -1) {
            clearInterval(counter);
            return;
        }
        document.getElementById('counter').innerHTML = seconds;

        if (seconds == 0) {
            //document.forms['/back'].submit();
            window.location.href = '/resetRequestCount';
        }
    }
</script>

{% else %}

<p><a class="li-hover login" href="/login/">Log In</a></p>

{% endif %}

{% endblock %}