{% extends 'base.html' %}
{% load static %}

{% block bootstrap %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
{% endblock %}

{% block title %}Admin{% endblock %}

{% block cutoff %}onload="onPageLoad()"{% endblock %}

{% block content%}

{% if user.is_authenticated %}
<header>
    <div class="menu-bar">
        <nav>
            <ul style="flex-direction: row-reverse">
                <li><a class="li-hover logout" href="/logout">Logout</a></li>
                <li><a class="li-hover logout" href="/django-admin">Settings</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="container">
        <div class="row border-b">
            <div class="col padding border-r">
                <div>
                    <p class="text-center admin-p">Current number of requests:</p>
                    <p class="current-req admin-p" id="clickCount">{{count}}</p>
                </div>
                <!--sends the /delete form which deletes all records and reloads the page-->
                <div class="">
                    <form action="{% url 'resetRequestCount' %}" method="GET" id="/delete" class="reset">
                        {% csrf_token %}
                        <div class="btn btn-one" onclick="reset()">
                            <p class="btn-text admin-p">Reset Requests</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="mobile-border"></div>
            <!--sends the /delete form which deletes all records and reloads the page-->
            <div class="col padding">
                <div class="">
                    <div>
                        <p class="text-center admin-p">Seconds until next request reset:</p>
                        <p class="current-req admin-p" id="counter">{{timeToReset}}</p>
                    </div>
                    <form action="{% url 'resetTimer' %}" method="GET" id="resetTimer" class="reset">
                        {% csrf_token %}
                        <div class="btn btn-one" onclick="resetTimer()">
                            <p class="btn-text admin-p">Reset Timer</p>
                        </div>
                    </form>
                    <div class="toggle1-wrapper">
                        <input id="requestResetCheckbox" class="toggle1" type="checkbox" onclick="timerInput()" {{timerStatus}} />
                        <label for="requestResetCheckbox" class="toggle1--label"></label>
                        <div class="foux-toggle1"></div>
                    </div>
                </div>
            </div>
            <div class="mobile-border"></div>
        </div>
        <div class="row border-b">
            <div class="col padding border-r">
                <!--CHANGE CUTOFF THRESHOLD HERE!! change the value here to allow for more or less clicks before being alerted-->
                <div class="">
                    <form action="{% url 'changeThreshold' %}" method="GET" class="text-center" id="thresh">
                        {% csrf_token %}
                        <p class="text-center admin-p" for="cutoff">Alert cutoff threshold:</p>
                        <p class="current-req admin-p" id="limit">{{threshold}}</p>
                        <input id="newLimit" class="thresh-input" name='limit' type="number" min="0"
                            placeholder="Change threshold here"><br>
                        <div class="btn btn-one" onclick="thresh()">
                            <p class="btn-text">Submit</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="mobile-border"></div>
            <div class="col padding">
                <div class="">
                    <form action="{% url 'changeResetSetting' %}" method="GET" class="text-center" id="resetSetting">
                        {% csrf_token %}
                        <p class="text-center admin-p" for="cutoff">Request reset setting (seconds):</p>
                        <p class="current-req admin-p" id="clickCount">{{resetSetting}}</p>
                        <input id="setting" class="thresh-input" name='setting' type="number" min="0"
                            placeholder="Change reset setting here"><br>
                        <div class="btn btn-one" onclick="resetSetting()">
                            <p class="btn-text admin-p">Submit</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="mobile-border"></div>
        </div>
        <div class="row">
            <div class="col padding border-r">
                <div class="">
                    <form action="{% url 'changeStudentWaitTime' %}" method="GET" class="text-center" id="studentWaitTime">
                        {% csrf_token %}
                        <p class="text-center admin-p">Student's wait-time (seconds):</p>
                        <p class="current-req admin-p">{{studentWaitTime}}</p>
                        <input id="newStudentWaitTime" class="thresh-input" name='newStudentWaitTime' type="number" min="0"
                            placeholder="Change student's wait-time here"><br>
                        <div class="btn btn-one" onclick="studentWaitTime()">
                            <p class="btn-text">Submit</p>
                        </div>
                    </form>
                </div>
            </div>
            <div class="mobile-border"></div>
            <div class="col padding">
                <div class="">
                    <p class="text-center admin-p">Play alert sound?</p>
                    <div class="toggle-wrapper">
                        <input id="alertCheckbox" class="toggle" type="checkbox" onclick="alertInput()" {{alertStatus}} />
                        <label for="alertCheckbox" class="toggle--label"></label>
                        <div class="foux-toggle"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</main>
<!--Reloads this page every 10 seconds (can be adjusted here for more or less time) in order to keep an accurate count-->
<script>
//   setTimeout(function () {
  //     location.reload();
    //}, 10000);

    // alert sound used asynchronous function so that the sound will play before other scripts take over
    async function playAlert() {
        var name = "playAlert";
        var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
        if (match[2] == "true") {
            var audio = new Audio('{% static 'media/sound.mp3' %}');
            audio.play();
            await new Promise((resolve, reject) => setTimeout(resolve, 3000));
        }
        alert({{count}} + ' or more people have requested that you slow down');
    }

    var seconds = "{{timeToReset}}";

    seconds = parseInt(seconds);

    if (isNaN(seconds)){
        seconds = '--';
    }

    var counter = setInterval(timer, 1000);

    function timer() {
        var name = 'timerStatus';
        var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
        if (match[2] == "on") {
            if (isNaN(seconds)){wait(1000);}
            seconds = seconds - 1;
            if (seconds <= -1) {
                clearInterval(counter);
                return;
            }
            document.getElementById('counter').innerHTML = seconds;
    
            if (seconds == 0) {
                //document.forms['/back'].submit();
                window.location.href = '/resetRequestCount';
            }
        } else {
            document.getElementById('counter').innerHTML = "--";
        }
    }
</script>

{% block jquery %}
<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
{% endblock %}

{% else %}

<p><a class="li-hover login" href="/login/">Log In</a></p>

{% endif %}

{% endblock %}