{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Cardo|Josefin+Sans|Mansalva&display=swap" rel="stylesheet">
    <link href="{% static 'css/button.sass' %}">
    <script src="{% static 'js/client.js' %}" type="text/javascript"></script>
    <title>Slowdown Admin</title>
</head>
<!--runs the cutoff function every time this page loads to keep track of how many clicks there have been and alert when it crosses the threshold-->

<body onload="cutoff()">
    <div>
        <p class="text-center">Current number of requests</p>
        <p class="text-center current-req" id="clickCount">{{count.count}}</p>
    </div>  
    <!--sends the /delete form which deletes all records and reloads the page-->
    <div class="margin">
        <form action="{% url 'resetRequestCount' %}" method="POST" id="/delete" class="reset">
            {% csrf_token %}
            <div class="btn btn-one" onclick="reset()">
                <p class="btn-text">Reset Requests</p>
            </div>
        </form>
    </div>

    <!--CHANGE CUTOFF THRESHOLD HERE!! change the value here to allow for more or less clicks before being alerted-->
    <div class="margin">
        <form action="{% url 'changeThreshold' %}" method="GET" class="text-center" id="thresh">
            {% csrf_token %}
            <p class="text-center" for="cutoff">The current cutoff threshold is:  <u style="margin-left: .5rem;" id="limit">{{threshold.threshold}}</u></p>
            <input class="thresh-input" name='limit' type="number" placeholder="Change threshold here">
            <div class="btn btn-one" onclick="thresh()">
                <p class="btn-text">Submit</p>
            </div>
        </form>
    </div>
</body>
<!--Reloads this page every 10 seconds (can be adjusted here for more or less time) in order to keep an accurate count-->
<script>
    setTimeout(function () {
        location.reload();
    }, 10000);

    //alert sound used asynchronous function so that the sound will play before other scripts take over
    async function playAlert() {
        var audio = new Audio('{% static 'media/sound.mp3' %}');
        audio.play();
        await new Promise((resolve, reject) => setTimeout(resolve, 3000));
        alert({{count.count}} + ' or more people have requested that you slow down');
    }
</script>

</html>